.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/third_party/

logs/*

nbproject/*

img_secure/children/*
!img_secure/children/.htaccess
img_secure/trustees/*
!img_secure/trustees/.htaccess

cache/*

uploads/child_docs/*
!uploads/child_docs/index.html
!uploads/child_docs/.htaccess