body {
    padding-top: 20px;
    background-color: #fff;
}

.current-status { 
    padding: 10px; 
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.dashboard { border: #d9534f 1px solid; }

.dashboard-success { border: #5cb85c 1px solid; }

div.dashboard.panel.panel-danger div.panel-heading { background: #d9534f; }
div.dashboard-success.panel.panel-success div.panel-heading { background: #5cb85c; }

.huge { font-size: 3em; color: #fff; }

.dashboard-label { color: #fff; }

.import-panel { 
    padding: 10px; 
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.quick-search-wrapper {
    padding: 15px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-bottom: 15px;
}

.quick-search-wrapper .title {
    margin-bottom: 10px;
    font-weight: bold;
}

.quick-search-body-subtitle {
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: #f4f4f4 solid 1px;
}

.form-import-wrapper {
    padding: 15px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-bottom: 15px;
}

.filter-wrapper {
    margin: 15px;
    background: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 15px;
}

.shipping-details-wrapper {
    padding-top: 5px;
}

.shipping-detaisl-row-wrapper {
    margin-top: 5px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .huge { font-size: 5em; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .huge { font-size: 5em; }
}



